#splash-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  overflow: hidden;
  background-color: #e57373;
  background: linear-gradient(45deg, rgba(255,206,202,1) 1%,rgba(227,110,201,1) 84%);
  background: linear-gradient(45deg, rgba(135,165,255,1) 1%,rgba(91,247,231,1) 84%);
  background: linear-gradient(45deg, rgba(135,165,255,1) 0%,rgba(255,196,211,1) 58%,rgba(195,247,231,1) 87%,rgba(91,247,231,1) 110%);
}
#splashscreen * {
  overflow: hidden;
}
.clock {
  display: none;
}
#splash-screen-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.SplashScreen-screen-img {
 /* nothing here right now */
}
.filter{
  filter: blur(4px) contrast(110%) brightness(80%);
}
.vignette {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: inset 0 0 100px black;
  z-index: 2;
  display: none;
}
