#splash-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  overflow: hidden;
  background-color: #e57373;
/* #009aff 
#005498 
#006eff  */
  background: linear-gradient(180deg, #0b4c81 30%,#005498 70%);
}
#splashscreen * {
  overflow: hidden;
}
.clock {
  display: none;
}
#splash-screen-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.SplashScreen-screen-img {
 /* nothing here right now */
}
.filter{
  filter: blur(4px) contrast(110%) brightness(80%);
}
.vignette {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: inset 0 0 100px black;
  z-index: 2;
  display: none;
}
